.DS_Store
.idea
.travis.yml
*.iml
.git/

resources/test-config
src/experimental
src/coco/*.js
src/coco/*.js.map
src/unifi/*.js
src/unifi/*.js.map
src/utils/*.js
src/utils/*.js.map
src/motion/*.js
src/motion/*.js.map
